* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(45, 45, 45);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(40, 40, 40);
  font-size: 35px;
  font-weight: bold;
}

.cell[data-value="2"] {
  background: rgb(57, 134, 211);
}
.cell[data-value="4"] {
  background: rgb(211, 46, 233);
}
.cell[data-value="8"] {
  background: rgb(23, 233, 215);
}
.cell[data-value="16"] {
  background: rgb(7, 136, 97);
}
.cell[data-value="32"] {
  background: rgb(212, 85, 27);
}
.cell[data-value="64"] {
  background: rgb(212, 38, 119);
}
.cell[data-value="128"] {
  background: rgb(150, 13, 13);
}
.cell[data-value="255"] {
  background: rgb(102, 101, 26);
}
.cell[data-value="512"] {
  background: rgb(14, 109, 14);
}
.cell[data-value="1024"] {
  background: rgb(16, 17, 100);
}
.cell[data-value="2048"] {
  background: rgb(244, 248, 29);
}

.game-over {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(202, 2, 2, 0.5);
}

.game-over h1 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 50px;
}

.restart-btn {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: rgb(45, 45, 45);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
