* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

@keyframes colorChange {
  0% {
    color: rgb(57, 134, 211);
  }
  10% {
    color: rgb(211, 46, 233);
  }
  20% {
    color: rgb(23, 233, 215);
  }
  30% {
    color: rgb(198, 209, 42);
  }
  40% {
    color: rgb(4, 71, 4);
  }
  50% {
    color: rgb(212, 38, 119);
  }
  60% {
    color: rgb(212, 85, 27);
  }
  70% {
    color: rgb(95, 216, 71);
  }
  80% {
    color: rgb(150, 13, 13);
  }
  90% {
    color: rgb(16, 17, 100);
  }
  100% {
    color: rgb(57, 134, 211);
  }
}

.controls {
  display: inline;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.8;
  font-size: 15px;
}
.controls span {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  border: #fff 2px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  margin: 5px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
  animation-name: colorChange;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  text-shadow: #fff 0 0 2px;
}
.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(45, 45, 45);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgb(40, 40, 40);
  font-size: 35px;
  font-weight: bold;
}

.cell[data-value="2"] {
  background: rgb(57, 134, 211);
}
.cell[data-value="4"] {
  background: rgb(211, 46, 233);
}
.cell[data-value="8"] {
  background: rgb(23, 233, 215);
}
.cell[data-value="16"] {
  background: rgb(198, 209, 42);
}
.cell[data-value="32"] {
  background: rgb(4, 71, 4);
}
.cell[data-value="64"] {
  background: rgb(212, 38, 119);
}
.cell[data-value="128"] {
  background: rgb(212, 85, 27);
}
.cell[data-value="256"] {
  background: rgb(95, 216, 71);
}
.cell[data-value="512"] {
  background: rgb(150, 13, 13);
}
.cell[data-value="1024"] {
  background: rgb(16, 17, 100);
}
.cell[data-value="2048"] {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}

.game-over {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(202, 2, 2, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.game-over h1 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 50px;
}

.game-over h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.game-over h3 {
  padding: 0;
}

.game-over ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  position: relative;
  gap: 5px;
  list-style: none;
  color: #fff;
  background-color: rgba(54, 4, 4, 0.3);
  padding: 10px 50px;
  border-radius: 10px;
}

.restart-btn {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: rgb(45, 45, 45);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.save-score-btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: rgb(62, 148, 22);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.player-name {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: gray;
  background: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
}
.top-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-weight: bold;
  top: 0;
  left: 0;
  padding: 10px 20px;
  font-size: 13px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.top-menu button i {
  position: relative;
  font-size: 30px;
}
button.hidden {
  display: none;
}
